<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Spring Boot Thymeleaf</title>
<link rel="stylesheet" th:href="@{/css/styles.css}" />

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
 -->	
		
<script>
// Disable form submissions if there are invalid fields
(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Get the forms we want to add validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();

 
if (window.location.hash == '#_=_'){
    history.replaceState 
        ? history.replaceState(null, null, window.location.href.split('#')[0])
        : window.location.hash = '';
}

$.get("/users", function(data) {
	    $("#users").html(data.userAuthentication.details.name);
	    $(".unauthenticated").hide();
	    $(".authenticated").show();
	  });

var logout = function() {
	    $.post("/logout", function() {
	      $("#users").html('');
	      $(".unauthenticated").show();
	      $(".authenticated").hide();
	    });
	    return true;
	  }

 </script>


</head>
<body>



	<div class="container pt-3">

		<h2 align="center" class="card bg-primary text-white">Register
			user</h2>
			
			
		      <form th:action="@{/user/createuser}" th:object="${user}"
                                                            method="POST" class="needs-validation " novalidate>
			
                        <!-- <label ><b>UserId</b></label>
                  <input type="text" th:field="*{userId}" />
	    	       <label th:if="${#fields.hasErrors('userId')}" th:class="'error'">Enter Id</label> -->
      

			<label><b>UserName</b></label>
			<div class="form-group">
				<input type="text" class="form-control" th:field="*{userName}"
					placeholder="Enter UserName" required>
				<div class="valid-feedback">Valid.</div>
				<div class="invalid-feedback">Please fill out this field.</div>
				<label th:if="${#fields.hasErrors('userName')}" th:class="'error'">Enter
					User Name</label>

			</div>
				
		 <label><b>Email</b></label>
			<div class="form-group">
				<input type="text" class="form-control" th:field="*{email}"
					placeholder="Enter email" required>
				<div class="valid-feedback">Valid.</div>
				<div class="invalid-feedback">Please fill out this field.</div>
				<label th:if="${#fields.hasErrors('email')}" th:class="'error'">Enter
					email</label>

			</div>
			
			
		 <label><b>Password</b></label>
                 <div class="form-group">
				<input type="password" class="form-control" th:field="*{password}"
					placeholder="Enter password" required>
				<div class="valid-feedback">Valid.</div>
				<div class="invalid-feedback">Please fill out this field.</div>
				<label th:if="${#fields.hasErrors('password')}" th:class="'error'">Enter
					password</label>

			</div> 
			


			<label><b>Gender</b></label>
			<div class="custom-control custom-radio custom-control-inline">

				<input type="radio" th:field="*{gender}" value="Male"
					class="custom-control-input" id="customRadio1" required> <label
					class="custom-control-label" for="customRadio1">male</label>

			</div>

			<div class="custom-control custom-radio custom-control-inline">
				<input type="radio" th:field="*{gender}" value="Female"
					class="custom-control-input" id="customRadio2" required> <label
					class="custom-control-label" for="customRadio2">female</label>
			</div>
			<label th:if="${#fields.hasErrors('gender')}" th:class="'error'">Select
				Gender</label>

                   <br>
             <label><b>Marriage Status</b></label>
			
			<div class="custom-control custom-checkbox custom-control-inline">
	            <input type="checkbox" th:field="*{married}" class="custom-control-input" id="customCheck" value="Married" /><label class="custom-control-label" for="customCheck">Married</label>
			 	</div>
			 	<div class="custom-control custom-checkbox custom-control-inline">
			 	<input type="checkbox" th:field="*{married}" class="custom-control-input" id="customCheck1" value="UnMarried" /><label class="custom-control-label" for="customCheck1">UnMarried</label>
			</div>



			<div class="form-group">
				<label><b>Profile</b></label> <select th:field="*{profile}">
					<option th:each="profile : ${allProfiles}" th:value="${profile}"
						th:text="${profile}">Profile</option>
				</select>
			</div>


			<div>
				<button type="submit" class=" badge-primary">Register</button>
				<button type="reset" class=" badge-primary">reset</button>
				</div>
				
				
				<div class="unauthenticated">
	
		<a class="btn" th:href="@{/user/index}">login  </a>
	</div>
			<div class="authenticated" style="display: none">
      			Logged in as: <span id="users"></span>
      			<div>
        			<button onClick="logout()" class="btn">Logout</button>
      			</div>
		</div>
				
		 <!--  <label>facebook </label>	<a class="btn"th:href="@{/user/index}">Login</a> -->
    	</form>	
		</div>

	
 
 <!-- <label>facebook </label>	<a class="btn"th:href="@{/login}">Login</a> -->
</body>
</html>
